node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.env.*
!.env.example
.netlify
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Local Netlify folder
.netlify